@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, #4ade80, #22c55e);
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, #f0fdf4, #ffffff);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animated-bg {
  background: linear-gradient(-45deg, #ffffff, #fcfcfc, #ffffff, #d9fffd);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply animated-bg font-Raleway
  }
}